.verticle-line {
  position: fixed;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: rgb(86, 86, 86);
  margin-left: 5%;
  padding-top: 100px;
}

.full-side-bar {
  margin: 0 20px;
}

.history-detail-side-bar{
  margin-left: -30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.side-bar-large,
.side-bar {
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 200px;
  align-items: start;
  cursor: pointer;
}

.side-bar-small-title {
  font-size: 2vh;
  margin-bottom: 0px;
  margin-top: 0px;
}

.side-bar-large {
  margin-bottom: 10px;
}

.side-bar-large-title {
  font-size: 3.5vh;
  margin-bottom: 0px;
  margin-top: 0px;
}

.side-bar-medium-title {
  font-size: 25px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 500px;
}

.side-bar-chinese {
  display: flex;
  gap: 2%;
}

.side-bar-chinese .side-bar-name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.history-main-content {
  margin: 300px 10% 0px max(250px, 22%);
  gap: 20%;
}

.history-main-img {
  position: fixed;
  top: 25vh;
  width: 35%;
}

.history-main-img img {
  width: 100%;
}

.history-scrolling-text {
  flex-basis: 30%;
  margin: 0px 0px 0px max(300px, 60%);
}

.history-scrolling-text .chunk {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chunk{
  margin-top: 45vh;
  margin-bottom: 45vh;
}

.history-main-img.show {
  display: block;
}

@media (max-width: 800px) {
  .verticle-line {
    background-color: transparent;
  }

  .history-detail-side-bar {
    display: block;
  }

  .side-bar{
    display: none;
  }

  .history-main-content {
    margin: 0px 10% 0px 10%;
    gap: 5%;
  }

  .history-main-img {
    top: 50vh;
    width: 30%;
  }

  .side-bar-large-title {
    font-size: 3vh;
  }

  .history-scrolling-text {
    flex-basis: 30%;
    margin: 0px 0px 0px max(290px, 20%);
  }

  .side-bar-chinese .side-bar-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2%;
  }

  .side-bar-chinese{
    align-items: baseline;
  }

  .side-bar-medium-title {
    font-size: 20px;
    width: 200%;
  }
}

@media (max-width: 400px){

  .history-detail-side-bar, .full-side-bar {
    background-color: white;
  }
  
  .side-bar-large{
    background-color: white;
    padding: 10px;
    margin-left: -20px;
  }

  .history-scrolling-text {
    flex-basis: 30%;
    margin: 0px 0px 0px 0px;
  }

  .history-main-img {
    top: 30vh;
    width: 80%;
    background-color: white;
  }

  .side-bar-medium-title {
    display: none;
  }

  .side-bar-large-title {
    font-size: 2.5vh;
    background-color: white;
  }

}