.stroke-part {
  opacity: 20%;
}

.stroke-part:hover {
  opacity: 100%;
}

.stroke-part-main {
  stroke: rgb(150, 150, 150, 20);
  position: absolute;
  top: max(250px, 13vw);
  width: 50%;
  left: 80%;
}

.stroke-part-name {
  position: absolute;
  top: 50px;
  left: -30%;
}

.hover-card {
  background-color: rgb(210, 210, 210);
  stroke: rgb(10, 10, 10);
  width: 15vw;
  height: 100%;
  border-radius: 20px;
  padding: 10% 15%;
  border-style: solid;
  border-color: rgb(230, 230, 230, 100);
}

.hover-card p {
  font-size: 1.5vw;
  font-weight: 100;
  text-align: left;
  font-weight: 100;
  margin: -1% 0px;
}

.hover-card h3 {
  font-size: 2vw;
  font-weight: 100;
  text-align: left;
  margin: -1% 0px;
}

.stroke-animation {
  position: absolute;
  top: 290px;
  left: 25%;
  width: 50%;
  height: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stroke-animation img {
  object-fit: scale-down;
  position: absolute;
}

.stroke-animation .animate {
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 24s; /* Duration is 4s per image (7 images x 4s = 28s) */
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.strokes-content-main {
  display: flex;
  justify-content: space-between;
  margin-top: 30%;
  padding: 0 5%;
  gap: 10%;
}

.strokes-content-img {
  position: sticky;
  top: 30%;
  width: 50%;
  height: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.strokes-content-img img {
  object-fit: scale-down;
  position: absolute;
}

.strokes-content-txt {
  width: 60%;
}

.stroke-text {
  margin-bottom: 50vh;
  margin-top: 50vh;
}

.specifics-main {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  padding: 0 5%;
  gap: 10%;
}

.specifics-img {
    width: 50%;
    height: 100%;
    position: sticky;
    top: 20vh;
}

.specifics-img img {
  object-fit: scale-down;
  position: absolute;
}

.specifics-txt {
  width: 50%;
}

.specifics-txt div{
    margin-bottom: 50vh;
    margin-top: 50vh;
}

.specifics-main button {
  background-color: rgb(10, 10, 10);
  padding: 1% 2%;
  border-radius: 100px;
  width: min(20vw, 200px);
  height: min(10vw, 100px);
  color: white;
  font-size: min(3vw, 30px);
  border: 0px;
}

.specifics-main button:hover {
  background-color: rgb(180, 180, 180);
  color: black;
}

@media (max-width: 800px) {
  .stroke-part-main {
    top: max(150px, 12vw);
  }
  .stroke-animation {
    top: 200px;
  }
}

@media (max-width: 400px) {
  .stroke-part-main {
    top: max(130px, 12vw);
  }

  .specifics-main, .strokes-content-main{
    flex-direction: column;
  }

  .specifics-img{
    width: 50%;
    margin-left: 20%;
    background-color: white;
    z-index: -1;
  }

  .strokes-content-img{
    width: 50%;
    background-color: white;
    z-index: 100;
    padding: 10% 30%;
    top: 20vh;
  }

  .specifics-txt, .strokes-content-txt{
    width: 100%;
  }

  .specifics-content, .strokes{
    margin-top: 50vh;
    margin-bottom: 50vh;
  }

  .specifics-content h1, .stroke-text h1 {
    font-size: 25px;
  }

  .specifics-content p, .stroke-text p {
    font-size: 15px;
  }

  .stroke-animation {
    top: max(150px, 12vw)
  }
}