* {
  font-family: "Cormorant", serif;
}

*,
html {
  scroll-behavior: smooth;
}

p {
  font-size: 25px;
  font-weight: 200;
}

.chinese-char {
  font-family: "LXGWWenKaiTC", serif;
}

.main-title {
  font-weight: 700;
  font-family: "Cormorant", serif;
  font-weight: 1000;
  font-size: 300%;
  margin-top: 1%;
  margin-bottom: -5px;
}

.margin-bottom-title {
  margin-bottom: 30vw;
}

.secondary-title {
  font-weight: 700;
  font-family: "Cormorant", serif;
  font-weight: 100;
  font-size: 36px;
  margin-top: 0;
}

.center {
  margin: auto auto;
  text-align: center;
}

.landing {
  /* background-color: rgb(244, 244, 244); */
  padding: 125px 5%;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/* arrow css from W3 School */
/* https://www.w3schools.com/howto/howto_css_arrows.asp */

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

ul {
  list-style-type: none;
  display: inline;
  margin-right: 5%;
  width: 100%;
}

li.nav-item {
  list-style-type: none;
  display: inline;
  margin-right: 5%;
}

.flex {
  display: flex;
  gap: 5%;
  justify-content: space-between;
  width: 1000px;
}

.bold {
  font-weight: 700;
}

@font-face {
  font-family: "Cormorant";
  src: url("/public/fonts/Cormorant-Light.woff") format("woff"),
    url("/public/fonts/Cormorant-Light.woff2") format("woff2");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "LXGWWenKaiTC";
  src: url("/public/fonts/LXGWWenKaiTC-Light.woff") format("woff"),
    url("/public/fonts/LXGWWenKaiTC-Light.woff2") format("woff2");
  font-weight: light;
  font-style: normal;
}
